##################################################################################################
#                        AdvancedSolarPanels Molecular Transformer Recipes                       #
##################################################################################################
# Format of recipe: "inputItem:stackSize;outputItem:outputStackSize;energy"                      #
# InputItem (outputItem) format:                                                                 #
# "oredict:forgeOreDictName" or "minecraft:item_name-meta" or "modID:item_name-meta"             #
# New line = new recipe.                                                                         #
# Add "#" before line to skip parsing recipe                                                     #
##################################################################################################
version=1.0
##################################################################################################
minecraft:skull-1:1; minecraft:nether_star:1; 725000000
minecraft:netherrack:1; minecraft:gunpowder:2; 100000
minecraft:sand:1; minecraft:gravel:1; 50000
minecraft:dirt:1; minecraft:clay:1; 50000
minecraft:coal-1:1; minecraft:coal-0:1; 60000
minecraft:glowstone_dust:1; AdvancedSolarPanel:asp_crafting_items-9:1; 9000000
minecraft:wool-4:1; minecraft:gold_block:1; 500000
minecraft:wool-11:1; minecraft:lapis_block:1; 500000
minecraft:wool-14:1; minecraft:redstone_block:1; 500000
minecraft:coal:1; IC2:itemPartIndustrialDiamond:1; 9000000
IC2:itemPartIndustrialDiamond:1; minecraft:diamond:1; 1000000
oredict:gemNetherQuartz:1; oredict:gemCertusQuartz:1; 500000
oredict:ingotCopper:1; oredict:ingotNickel:1; 300000
oredict:ingotTin:1; oredict:ingotSilver:1; 500000
oredict:ingotSilver:1; oredict:ingotGold:1; 500000
oredict:ingotGold:1; oredict:ingotPlatinum:1; 9000000
oredict:ingotPlatinum:1; oredict:ingotSignalum:1; 9000000
oredict:ingotSignalum:1; oredict:ingotLumium:1; 9000000
oredict:ingotLumium:1; oredict:ingotEnderium:1; 9000000
ForbiddenMagic:StarBlock:12; customnpcs:npcDemonicIngot:1; 999999999
minecraft:gold_block:1; minecraft:glowstone:1; 750000
minecraft:quartz:1; appliedenergistics2:item.ItemMultiMaterial:1; 1000000
minecraft:nether_star:24; ForbiddenMagic:StarBlock:1; 900000000
minecraft:skull:1; minecraft:skull-1:1; 6666666
minecraft:wool-15:1; minecraft:coal_block:1; 1000000
minecraft:wool:1; minecraft:iron_block:1; 1000000
minecraft:wool-3:1; minecraft:diamond_block:1; 1000000
minecraft:wool-7:1; ThermalFoundation:Storage-8:1; 1000000
minecraft:wool-8:1; ThermalFoundation:Storage-2:1; 1000000
minecraft:wool-9:1; ThermalFoundation:Storage-3:1; 1000000
minecraft:wool-1:1; ThermalFoundation:Storage:1; 1000000