# Configuration file

general {
    # Setting Cooldown (In Seconds)
    I:"Set Cooldown to Dense Neutronium Collector"=356

    # Setting Cooldown (In Seconds)
    I:"Set Cooldown to Denser Neutronium Collector"=356

    # Setting Cooldown (In Seconds)
    I:"Set Cooldown to Densest Neutronium Collector"=356
}


