# Hidden Items Filters
#
# parts:
# modname:itemid    - identify
# $orename          - ore dictionary
# tag.color=red     - tag
# 0 or 0-12         - damage
#
# modifiers:
# ! - logical not. exclude items that match the following expression (!minecraft:portal)
# r/.../ - standard java regex (r/^m\w{6}ft$/ = minecraft)
# , - logical or in token (minecraft:potion 16384-16462,!16386)
# | - logical or multi-item search (wrench|hammer)
#
# example: minecraft:potion 16384-16462,!16386 | $oreiron | tag.color=red
#
minecraft:portal
minecraft:end_portal
minecraft:fire
minecraft:lava
minecraft:mob_spawner
minecraft:anvil !0
minecraft:flowing_water
minecraft:flowing_lava

etfuturum:barrel_upgrade
etfuturum:barrel_upgrade 9-10
etfuturum:silver_barrel
etfuturum:shulker_box_upgrade 0-8
Avaritia:Singularity 10
Avaritia:cluster_opener
IronChest:ironGoldUpgrade
IronChest:copperSteelUpgrade
IronChest:woodIronUpgrade
OpenComputers:carpetedCapacitor
appliedenergistics2:item.ItemMultiMaterial 67-68
appliedenergistics2:tile.BlockSingularityCraftingStorage
appliedenergistics2:item.ItemExtremeStorageCell.Singularity
appliedenergistics2:item.ItemExtremeStorageCell.Quantum
appliedenergistics2:item.ItemExtremeStorageCell.Universe
appliedenergistics2:item.ItemVoidStorageCell
appliedenergistics2:tile.BlockPatternOptimizationMatrix
appliedenergistics2:tile.BlockCreativeEnergyController
appliedenergistics2:item.ItemExtremeStorageCell.Container

EnderIO:blockEndSteelBars
EnderIO:blockSoulariumBars

EnderIO:blockIngotStorageEndergy 0-6
EnderIO:blockIngotStorage 8

EnderIO:item.stellar_sword
EnderIO:item.stellar_pickaxe
EnderIO:item.stellar_leggings
EnderIO:item.stellar_helmet
EnderIO:item.stellar_chestplate
EnderIO:item.stellar_boots
EnderIO:item.stellar_axe

EnderIO:item.endSteel_sword
EnderIO:item.endSteel_pickaxe
EnderIO:item.endSteel_leggings
EnderIO:item.endSteel_helmet
EnderIO:item.endSteel_chestplate
EnderIO:item.endSteel_boots
EnderIO:item.endSteel_axe

EnderIO:itemTeleportStaff

EnderIO:itemPowerConduitEndergy 9-11

EnderIO:itemPowerConduitEndergy 0
EnderIO:itemPowerConduitEndergy 7-8

EnderIO:itemMachinePart 2-3

EnderIO:itemGrindingBall 8
EnderIO:itemGrindingBallEndergy 0-6

EnderIO:itemBigFilterUpgrade 0,1
EnderIO:itemLimitedItemFilter 0

EnderIO:itemBasicCapacitor 3-9

EnderIO:itemFrankenSkull 5-6

EnderIO:itemAlloyEndergy 0-6
EnderIO:itemAlloy 8

EnderIO:itemMaterial 12-17
EnderIO:itemLiquidConduit 3-6
EnderIO:itemAlloy 8








